body {
	background-image: linear-gradient(to right, white 20%, DarkOliveGreen);
}

#menu{
	margin-top: 30px;
}

#sociais{
	float: right;
}

#sociais li:hover{
	background-color: transparent;
	opacity: 40px;
}

nav {
	
	float: initial;
	padding: 66px 0 0 0;

}

ul {
	display: block;
}

ul li {
		display: inline-block;
}

nav ul {
		display: block;
	}


nav ul li {
		display: inline-block;
		position: relative;
		padding: 0px 6px 2px 6px;
}

a:link {
	text-decoration: none;
}

a:hover {
		color: white;
}


li:hover {
	background-color: red;
}

.bg-light {
	background-color: transparent !important;
}

.esq {
	background-color: forestgreen !important;
	float: left;
	line-height: 5px;
}

.but {
	background-color: red;
}
