body {
	background-image: linear-gradient(to right, white 30%, DarkOliveGreen 80%, DarkSeaGreen );
}

#menu{
	margin-top: 50px;
}

nav {
	text-align: initial;
}

nav ul {
		display: block;
		background-color: #8FBC8F;
	}

nav ul li {
		color: white;
		display: inline-block;
		position: relative;
		padding: 0px 6px 2px 6px;
}


a{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: white;
}

a:link {
	text-decoration: none;
}

a:hover {
		color: white;
}

li:visited{
	background-color: black;
}

li:hover {
	background-color: red;
}